* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    background-color: #333;
}

.tab,
.active-tab {
    flex: 1;
    padding: 14px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
}

.active-tab {
    background-color: #007B8F;
    /* Blue color for the active tab */
}

.tab:hover {
    background-color: #555;
}

.tab-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
}

h2 {
    color: #333;
}

p {
    color: #555;
    margin-top: 20px;
    font-weight: 300;
}

@media only screen and (max-width: 960px) {

    .container {
        width: 100%;
    }

    .content {
        padding: 50px;
    }
}